<form id="registerForm" action="#">
  <label for="firstName">First Name</label>
  <input id="firstName" name="firstName" type="text" [(ngModel)]="user.firstName" />
  <br>
  <br>
  <label for="lastName">Last Name</label>
  <input id="lastName" name="lastName" type="text" [(ngModel)]="user.lastName" />
  <br>
  <br>
  <label for="Age">Age</label>
  <input id="Age" name="Age" type="text" [(ngModel)]="user.age" />
  <br>
  <br>
  <label for="userName">Username</label>
  <input id="userName" name="userName" type="text" [(ngModel)]="user.userName" />
  <br>
  <br>
  <label for="password">Password</label>
  <input id="password" name="password" type="text" [(ngModel)]="user.password" />
  <br>
  <br>
  <button id="register" (click)="registerUser()">Login</button>
</form>