<!doctype html>
<html>

<head>

</head>

<body>
    <a href="/">Go to Login</a>
    <form id="registerForm" action="/registerUser" method="POST">
        <label for="firstName">First Name</label>
        <input id="firstName" name="firstName" type="text" />
        <br>
        <br>
        <label for="lastName">Last Name</label>
        <input id="lastName" name="lastName" type="text" />
        <br>
        <br>
        <label for="Age">Age</label>
        <input id="Age" name="age" type="text" />
        <br>
        <br>
        <label for="userName">Username</label>
        <input id="userName" name="userName" type="text" />
        <br>
        <br>
        <label for="password">Password</label>
        <input id="password" name="password" type="text" />
        <br>
        <br>
        <input type="submit" value="Register" />
    </form>
</body>

</html>